.bottom-float-window {
  background-color: #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  padding: 1em 1.5em;
  position: fixed;
  z-index: 10;
}

.bottom-float-is-danger {
  background-color: rgba(250, 128, 114, 0.418);
}

.bottom-float-invisible {
  display: none !important;
}
.bottom-float-link {
  border-bottom: 1px solid #485fc7;
  padding-bottom: 2px;
}
.bottom-float-link:hover {
  border-bottom-width: 2px;
}
.bottom-float-link:active {
  background-color: #eff1fa;
}
.bottom-float-compliance {
  margin-top: 1em;
}
.bottom-float-error-message {
  margin-top: 5px;
  font-size: 0.9rem;
  font-style: italic;
}
.bottom-float-btn {
  border: 2px solid #48c78e;
  border-radius: 0.375em;
  color: #48c78e;
  display: inline-block;
  font-weight: 700;
  padding: 0.5em 1em;
  vertical-align: top;
}
.bottom-float-btn span {
  margin-left: -0.125em;
  margin-right: 0.5em;
}
.bottom-float-btn:hover {
  background-color: #effaf5;
  color: #257953;
}
.bottom-float-btn:active,
.bottom-float-btn:focus {
  background-color: #dcf4e9;
  border-color: #257953;
  color: #1f6546;
  outline: 0;
}
@media screen and (max-width: 768px) {
  .bottom-float-window {
    bottom: 0;
    left: 0;
    right: 0;
  }
}
@media screen and (min-width: 769px), print {
  .bottom-float-window {
    border-radius: 0.375em;
    bottom: 1em;
    right: 1em;
    width: 20rem;
  }
}
