.button.is-light-blue {
  background-color: #14c5ef;
  border-color: transparent;
  color: #fff;
}
.button.is-light-blue:hover {
  background-color: #14c3efe1;
  border-color: transparent;
  color: #fff;
}
.button.is-lime-green {
  background-color: #bfe600;
  border-color: transparent;
  color: #000;
}
.button.is-lime-green:hover {
  background-color: #bfe600e1;
  border-color: transparent;
  color: #000;
}
.button.is-mushy-blue {
  background-color: #63ADE1;
  border-color: transparent;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 0.767), 0 2px 5px 0 rgba(204, 204, 204, 0.767);
}
.button.is-mushy-blue:hover {
  background-color: #63ADE1e1;
  border-color: transparent;
  color: #fff;
}
.button.is-mushy-blue:disabled {
  background-color: #63ADE133;
  border-color: transparent;
  color: #444;
}
.button.is-light-gray {
  background-color: #B0BCCA;
  border-color: transparent;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 0.767), 0 2px 5px 0 rgba(204, 204, 204, 0.767);
}
.button.is-light-gray:hover {
  background-color: #B0BCCAe1;
  border-color: transparent;
  color: #fff;
}

.button.is-blank{
  box-shadow: 0 2px 5px 0 rgba(204, 204, 204, 0.767), 0 2px 5px 0 rgba(204, 204, 204, 0.767);
}